:global {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    letter-spacing: 0.01rem;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
  }

  body {
    background: var(--background);
    color: var(--text-primary);
  }

  button {
    user-select: none;
  }

  body,
  input,
  button,
  textarea {
    font: 400 16px "Poppins", sans-serif;
  }

  $font-size-base: 0.95rem; // Assumes the browser default, typically `16px`
  $font-size-lg: $font-size-base * 1.25;
  $font-size-sm: $font-size-base * 0.875;
  $font-size-xs: $font-size-base;
  $font-size-xl: $font-size-base * 1.35;

  :root {
    --primary: #a23e48;
    --secondary: #ff8c42;
    --background: #f6f8ff;
    --background-content: #e5e6e9;
    --text: #fff;
    --text-disabled: #4c5871;
    --lm-shadow-active: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
    --btn: #0079ff;
    --btn-hover: #60abff;
    --input-focus: #006cff;
    --input-hover: #ff8c42;
    --input-error: #b00020;
    --input-background: #f6f8ff;
    --border-inactive: #e6e6e6;
    --hover-brightness: 0.95;
    --br: 5px;
    --br-circle: 50%;
    --low-opacity: 0.5;
    --mid-opacity: 0.75;
  }

  [data-theme="dark"] {
    --background: #888;
    --primary: #222;
    --background-content: #777;
    --lm-shadow-xl: rgba(70, 88, 109, 0.15);
    --lm-icon-bg: brightness(1000%);
  }
}
