:global {
    nav {
        display: flex;

        width: 100vw;
        height: 4rem;

        padding: 0 1rem;

        background: var(--background);
        box-shadow: var(--lm-shadow-inactive);

        position: relative;
        z-index: 1;
    }

    .page {
        padding: 1rem;
        background: var(--background);

        width: 100vw;
        min-height: 90vh;
    }
}
